#id-account-nav .list-group-item {
    width: 190px;
    overflow-wrap: break-word;
    border-radius: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    background-color: white;
    color: red;
    text-align: left;
    border:none;
    border-left: 5px solid transparent;
    padding: 8px 8px;
  }

  .wd-account-nav-links:focus {
    margin-left: 20px !important;
    color: black !important;
    border-left: 5px solid black !important;
  }

  .page-margin-left {
    margin-left: 20px;
  }
  .page-margin-right {
    margin-right: 20px;
  }